__pycache__/
*.pyc
*.pyo
*.log
*.out

.DS_Store
.ipynb_checkpoints/
.idea/
.vscode/

checkpoints/
outputs/
results/
detailed_results/
execution_files/
wandb/
eval_tmp/
eval_origin/
eval_origin*/

tmp/
*tmp*
*copy*

analysis_data.sh
analysis_data.py
*code.sh
*.pdf

eval_origin
eval_origin*

*checkpoints*
*__pycache__*
*.log
*.out
*result*
*tmp*
*execution_files*
*code.sh
*wandb*
*outputs*

*copy*
analysis_data.sh
analysis_data.py
*.pdf